//! **************************************************************************
// Written by: Map P.20131013 on Mon May 06 18:58:39 2019
//! **************************************************************************

SCHEMATIC START;
COMP "Y<1>" LOCATE = SITE "P7" LEVEL 1;
COMP "Y<2>" LOCATE = SITE "P6" LEVEL 1;
COMP "Y<3>" LOCATE = SITE "N5" LEVEL 1;
COMP "A<0>" LOCATE = SITE "L3" LEVEL 1;
COMP "A<1>" LOCATE = SITE "K3" LEVEL 1;
COMP "A<2>" LOCATE = SITE "B4" LEVEL 1;
COMP "A<3>" LOCATE = SITE "G3" LEVEL 1;
COMP "Y<0>" LOCATE = SITE "M11" LEVEL 1;
SCHEMATIC END;

