net a(3) loc=N3;
net a(2) loc=E2;
net a(1) loc=F3;//valor entrada binaria
net a(0) loc=G3;

net b(3) loc=B4;
net b(2) loc=K3;
net b(1) loc=L3;
net b(0) loc=P11;

net prod(0) loc=M5;//selecao do display ativo
net prod(1) loc=M11;
net prod(2) loc=P7;
net prod(3) loc=P6;
net prod(4) loc= N5;
net prod(5) loc= N4;